#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.header > h1 {
  text-align: left;
  margin-top: 2rem;
  margin-bottom: 0rem;
}

.header > p {
  margin: 0.5rem;
  text-align: right;
}