.cards-container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    grid-gap: 50px;
    max-width: 1280px;
    padding: 1rem;
}

@keyframes hoverAnimation {
    0% {
      transform: rotate(-1deg) 
    }
    100% {
      transform: rotate(1deg) scale(1.05)
    }
  }

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 225px;
    min-height: 300px;
    border: white solid 1px;
    background-image: radial-gradient(rgb(151, 151, 151) 0%, rgb(30, 45, 87) 100%);
    cursor: pointer;
}

.card:hover{
    animation: hoverAnimation 2s alternate infinite;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7);
}

.card > img {
    width: 200px;
    height: auto;
    padding: 1rem;
}
